/* ==== Google font ==== */
/*@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');*/

@font-face{
  font-family: opensans;
  src: url(../fonts/OpenSans-Regular-webfont.woff);
}

@font-face{
  font-family: opensans-light;
  src: url(../fonts/OpenSans-Light-webfont.woff);
}

@font-face{
  font-family: opensans-semibold;
  src: url(../fonts/OpenSans-Semibold-webfont.woff);
}

@font-face{
  font-family: opensans-bold;
  src: url(../fonts/OpenSans-Bold-webfont.woff);
}

html,
body {
    font-family: opensans, Sans-serif;
    height: 100%;
    background-color: #ededed;
    /*background: linear-gradient(to bottom,rgba(212,237,252,1) 0,rgba(255,255,255,1) 100%);
    background-size: 100% 360px;
    background-repeat: no-repeat;
    /*background: url('../images/bg-grad.jpg') repeat-x scroll 0% 0% #FFF;*/
    font-size: 12px;
}

strong{
    font-family: opensans-bold, Sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: opensans, Sans-serif;
}

.bgwhite{
    background-color: #ffffff;
    padding: 6px 6px 6px 6px;
    border-radius: 4px;
}

.navbar{
    background-color: #7191a8;   
}

.panel-info > .panel-heading{
    background-color: #7191a8;
    color: #ffffff;
}

/* menu */
.nav>li>a:hover {
    background-color: #036;
    color: #ffffff;
}

.navbar>.nav>li>a {
    color: #fff;
}

.navbar a{
    color: #ffffff;
}

.navbar .navbar-nav > .active > a {
    color: #FFFFFF;
    background-color: #7597ab;
}

.breadcrumb > .active{
    color: #000000;
    padding-right: 5px;
}

.breadcrumb{
    background-color: #ffffff;
}

.breadcrumb > li > a{
    color: #ababab;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 0px;
}

.wrap > .container {
    padding: 60px 15px 20px;
}

.footer {
    height: 60px;
    margin-top: 60px;
    background-color: #C6EAFA;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.item{
    margin-bottom: 10px;
}

iframe{
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
}


/* managing the tab colors */
#tabthree{
    background-color: #17A2C3;
}

#tabfour{
    background-color: #01B3F1;
}

#tabfive{
    background-color: #3d638b;
    color: #ffffff;
}

/* change alternate coloring in table */
/*.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #D2EAF6;
}*/

/* general list item behaviour */
.item{
    border-left:3px solid #ffffff;
    padding: 5px 5px 5px 5px;
    border-bottom:1px solid #eff2f4;
}

.item:hover{
    background:#f4f7f9;
    border-left:3px solid #2cc0d5;
}

/* The todolist settings */
.list-editable li .icheckbox_flat-blue {
    float: left;
}
.icheckbox_flat-blue {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    vertical-align: top;
}

.list-editable li{
    border-bottom:1px solid #eff2f4;
    padding:15px;
    position:relative;
    height:61px
}
.list-editable li .icheckbox_flat-blue{
    float:left
}
.list-editable li .body{
    text-overflow:ellipsis;
    display:block;
    width:calc(100% - 80px);
    white-space:nowrap;
    overflow:hidden;
    float:left
}
.list-editable li:hover{
    background:#f4f7f9;
    border-left:3px solid #2cc0d5;
    padding-left:12px
}
.list-editable li:hover .remove-box{
    opacity:1;
    color: #ffffff;
}
.list-editable li .icheckbox_flat-blue{
    margin-right:10px
}
.list-editable li .remove-box{
    background:#2cc0d5;
    padding:16px 12px 19px 16px;
    display:inline-block;
    position:absolute;
    top:0;
    right:0;
    opacity:0;
    -webkit-transition:opacity 0.4s;
    -moz-transition:opacity 0.4s;
    transition:opacity 0.4s
}

.list-editable li .remove-box:before{content:"";
    height:0;
    width:0;
    border-color:transparent;
    border-style:solid;
    border-width:4px;
    border-right-color:#2cc0d5;
    position:absolute;
    left:-8px;
    top:50%;margin-top:-4px
}


.list-editable li:hover .check-box{
    opacity:1;
    color: #ffffff;
}

.list-editable li .check-box{
    background:#17A2C3;
    padding:16px 12px 19px 16px;
    display:inline-block;
    position:absolute;
    top:0;
    right:0;
    opacity:0;
    -webkit-transition:opacity 0.4s;
    -moz-transition:opacity 0.4s;
    transition:opacity 0.4s
}

.list-editable li .check-box:before{content:"";
    height:0;
    width:0;
    border-color:transparent;
    border-style:solid;
    border-width:4px;
    border-right-color:#17A2C3;
    position:absolute;
    left:-8px;
    top:50%;margin-top:-4px
}

.navicon-line {
    width: 24px;
    height: 4px;
    border-radius: 1px;
    margin-bottom: 3px;
    background-color: #fff;
}

.sb-left{
    background-color: #7597ab;
}
